body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #90cde7;
}

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left {
  flex: 1;
  background: url("./assets/logpic.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.auth-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(61, 111, 197, 0);
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #eef2ff, #ffffff);
}

.auth-box {
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-title {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

.auth-box h2 {
  margin-bottom: 15px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #1a0202;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #4261de;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #244be4;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #4edaf3dc;
  color: rgb(5, 35, 73);
  padding: 20px;
}

.sidebar h2 {
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4c6ef5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 25px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
}

.note-card {
  background: rgb(11, 232, 217);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(48, 14, 14, 0.1);
  transition: 0.2s;
}

.note-card:hover {
  transform: translateY(-3px);
}

.note-card h4 {
  margin-bottom: 8px;
}

.editor-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.editor-container input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #3c3fff;
}

.editor-container button {
  padding: 10px 20px;
  background: #4c6ef5;
  color: rgb(17, 152, 242);
  border: none;
  border-radius: 6px;
}

.dark {
  background: #2b2222;
  color: rgb(220, 223, 226);
}

.dark .main {
  background: #315f7d;
}

.dark .note-card {
  background: #072f55;
  color: white;
}

.dark .sidebar {
  background: #187279;
}